.checkbox {
  width: 25px;
  height: 20px;
  cursor: pointer;
  border: 1px solid rgb(128, 126, 126);
  margin: 2px 15px 0px 5px;
}

.checkbox:hover {
  background-color: rgb(184, 243, 184);
}

.done {
  text-decoration: line-through;
  color: green;
}
